@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
}
body {
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}  
h1,h3 {
    color: #606d5f;

} 
p,a,li,button{
    color: #888888;
}
p{
    font-size: 1.8rem;
    line-height: 150%;
    font-size: normal;
    font-weight: normal;

}
li{
    list-style: none;

}
a{
    text-decoration: none;
    cursor: pointer;
}

button{
     padding: 1rem 3rem;
     border: none;
     border-radius: 2rem;
     outline: none;
     line-height: 3.6rem;
     text-transform: capitalize;
     cursor: pointer;
     font-style: normal;
     font-weight: normal;
     font-size: 2rem;
    }
    /* header section  */ 
    header{
        padding: 0 20rem;
        width: 100%;

    }
    header nav{
        display: flex;
        justify-content: space-between;
        height: 12rem;
        align-items: center;
    }
    header nav .logo h1{
        font-size: 3rem;
    }
    header nav .menu{
        display: flex;
        
    }
    header nav .menu a{
        margin-left: 2rem;
        font-size: 2rem;
        cursor: pointer;
    
    }
    /* .hero-section strat  */
    .hero-section{
        padding: 0 20rem;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;
    }
     
    
    }
    .hero-section .hero-content {
     width: 50%;
     height: 80vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;
    
    }
    
    .hero-section .hero-content h1{
        width: 40rem;
        font-size: 5rem;
        line-height: 5rem;
        margin-bottom: 4rem;
        text-transform: capitalize;
    }
    .hero-section .hero-content p{
        width: 50%;
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 3rem;

    }
    .hero-section, .hero-img img {
        width: 100%;
    }
